*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(0, 145, 255);
    min-height: 100vh;
    border: 10px solid rgb(0, 0, 0);
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align: end;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}
.image,img{
   width: 300px;
   height: 320px;
   border-radius: 50%;
}
.about{
    margin: 50px;
}
.about h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about p{
    font-size: 20pxs;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: justify;
    
}
footer{
   text-align: end;
   color: aliceblue;
}